.varimit-output {
  width: 100%;
  height: auto;
}

.varimit-output p {
  color: red;
}

.varimit-output-single-product {
  width: 70%;
  height: auto;
}

.varimit-output-single-product p {
  color: red;
}

.varimit-output-single-product-inner {
  width: 100%;
  height: 50px;
  border-top: 1px solid #dfdfdf;
}

.varimit-output-single-product-inner-left {
  width: 70%;
  height: 50px;
  float: left;
  padding-left: 20px;
  cursor: pointer;
}

.varimit-output-single-product-inner-right {
  width: 29%;
  height: 50px;
  float: left;
  padding-top: 10px;
}

.range-revamp-svg-icon {
  display: inline-block;
  height: 1.5rem;
  width: 1.5rem;
  vertical-align: middle;
  fill: currentColor;
  -webkit-transition-property: fill, -webkit-transform;
  transition-property: fill, -webkit-transform;
  -o-transition-property: transform, fill;
  transition-property: transform, fill;
  transition-property: transform, fill, -webkit-transform;
  -webkit-transition-duration: 0.25s;
  -o-transition-duration: 0.25s;
  transition-duration: 0.25s;
  -webkit-transition-timing-function: cubic-bezier(0.4, 0, 0.4, 1);
  -o-transition-timing-function: cubic-bezier(0.4, 0, 0.4, 1);
  transition-timing-function: cubic-bezier(0.4, 0, 0.4, 1);
}

.varimit-popup-output {
  width: 300px;
  height: auto;
  position: absolute;
  background-color: #dfdfdf;
  margin-left: 340px;
  z-index: 99999999;
  display: none;
}

.varimit-popup-output-title {
  width: 80%;
  height: 50px;
  padding-left: 5px;
  padding-top: 10px;
  float: left;
}

.varimit-popup-output-close {
  width: 20%;
  height: 50px;
  padding-left: 5px;
  padding-top: 10px;
  float: left;
  cursor: pointer;
}

.varimit-mini-list {
  width: 100%;
  height: 70px;
}

.varimit-mini-list-img {
  width: 30%;
  height: 70px;
  float: left;
  padding: 5px;
}

.varimit-mini-list-title {
  width: 69%;
  height: 70px;
  float: left;
  padding-left: 5px;
  padding-right: 5px;
}

.range-revamp-btn .range-revamp-svg-icon,
.range-revamp-btn__label {
  -webkit-transition-property: opacity, margin-right, margin-left,
    -webkit-transform;
  transition-property: opacity, margin-right, margin-left, -webkit-transform;
  -o-transition-property: opacity, margin-right, margin-left, transform;
  transition-property: opacity, margin-right, margin-left, transform;
  transition-property: opacity, margin-right, margin-left, transform,
    -webkit-transform;
  -webkit-transition-duration: 0.2s;
  -o-transition-duration: 0.2s;
  transition-duration: 0.2s;
  -webkit-transition-timing-function: cubic-bezier(0.4, 0, 0.4, 1);
  -o-transition-timing-function: cubic-bezier(0.4, 0, 0.4, 1);
  transition-timing-function: cubic-bezier(0.4, 0, 0.4, 1);
}

.varimit-admin-output-block {
  width: 100%;
  height: 100px;
  border: 1px solid red;
}

.varimit-output span {
  border: 1px solid red;
  width: 30px;
  height: 30px;
  -webkit-border-radius: 15px;
  -moz-border-radius: 15px;
  border-radius: 15px;
  float: right;
  margin-right: 22px;
  margin-top: -4px;
  padding-top: 3px;
  padding-right: 8px;
}

.varimit-output p {
  padding-right: 15px;
  margin-left: 50px;
}

/* Левый боковой попап*/

.varimit-left-output {
  width: 100%;
  height: auto;
  position: absolute;
  background-color: #dfdfdf;
  display: none;
  left: -100%;
  z-index: 99999999;
  padding-bottom: 10px;
}

.varimit_left_mini_content {
  width: 100%;
  height: auto;
  margin-top: 40px;
  z-index: 99999999;
}

.varimit_left_mini_content_img {
  width: 100%;
  height: 100px;
}

#mimi_url_list {
  width: 100%;
  height: 100%;
  margin-bottom: 5px;
}

/* адаптация для вариации*/

@media (max-width: 767px) {
  /* стили для xs-устройств */
  .varimit-popup-output {
    display: none;
  }
}
@media (min-width: 768px) and (max-width: 991px) {
  /* стили для sm-устройств */
  .varimit-popup-output {
    width: 300px;
    height: auto;
    position: absolute;
    background-color: #dfdfdf;
    margin-left: 205px;
  }

  #mimi_url_list {
    width: 100%;
    height: 100%;
  }
}
@media (min-width: 991px) and (max-width: 1199px) {
  /* стили для md-устройств */
  .varimit-popup-output {
    width: 300px;
    height: auto;
    position: absolute;
    background-color: #dfdfdf;
    margin-left: 285px;
  }

  #mimi_url_list {
    width: 100%;
    height: 100%;
  }
}
@media (min-width: 1200px) {
  /* стили для lg-устройств */
  .varimit-popup-output {
    width: 300px;
    height: auto;
    position: absolute;
    background-color: #dfdfdf;
    margin-left: 285px;
  }
}
