/*
*  The styles for a plugin Variation Imitation for Woocommerce
* (front)
*
*  Author: Nemolite
*/
.varimit-output {
  width: 100%;
  height: auto;
}

.product .varimit-output {
  display: flex;
  justify-content: center;
}

.varimit-output p {
  color: red;
}

.product .varimit-output p {
  color: #92bf2b;
  text-align: center;
  margin-left: 0;
  padding-right: 0;
}

.varimit-output-single-product {
  width: 100%;
  max-width: 470px;
  height: auto;
  margin-bottom: 25px;
}

.varimit-output-single-product p {
  color: red;
}

.varimit-output-single-product-inner {
  width: 100%;
  height: 72px;
  border-top: 1px solid #dfdfdf;
  padding: 10px 0;
  display: flex;
  align-items: center;
}
.varimit-output-single-product-inner:last-child {
  border-bottom: 1px solid #dfdfdf;
}

.varimit-output-single-product-inner-left {
  line-height: 180%;
  width: 70%;
  height: auto;
  padding-left: 0;
  cursor: pointer;
}

.varimit-output-single-product-inner-right {
  width: 29%;
  height: auto;
  display: flex;
  flex-direction: row-reverse;
  right: -13px;
  position: relative;
}

.range-revamp-svg-icon {
  display: inline-block;
  height: 23px;
  width: 19px;
  vertical-align: middle;
  fill: currentColor;
  -webkit-transition-property: fill, -webkit-transform;
  transition-property: fill, -webkit-transform;
  -o-transition-property: transform, fill;
  transition-property: transform, fill;
  transition-property: transform, fill, -webkit-transform;
  -webkit-transition-duration: 0.25s;
  -o-transition-duration: 0.25s;
  transition-duration: 0.25s;
  -webkit-transition-timing-function: cubic-bezier(0.4, 0, 0.4, 1);
  -o-transition-timing-function: cubic-bezier(0.4, 0, 0.4, 1);
  transition-timing-function: cubic-bezier(0.4, 0, 0.4, 1);
}

.varimit-popup-output {
  width: 100vw;
  height: 100vh;
  position: fixed;
  right: 0;
  top: 0;
  background-color: rgba(0, 0, 0, 0.3);
  z-index: 99999999;
  display: none;
}

.varimit-popup-output-wrapper {
  width: 440px;
  height: 100%;
  position: absolute;
  right: 0;
  top: 0;
  background-color: #fff;
  z-index: 9999999;
  padding: 80px 40px 40px;
}

.varimit-popup-output-inner {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
}

.varimit-popup-output-inner a {
  width: calc(50% - 15px);
  margin-bottom: 35px;
  display: block;
}

.varimit-popup-output-inner a:hover .varimit-mini-list-img,
.varimit-popup-output-inner a:active .varimit-mini-list-img {
  border: 1px solid #92bf2b;
}

.varimit-popup-output-title {
  font-size: 30px;
  line-height: 41px;
  margin-bottom: 30px;
}

.varimit-popup-output-title b {
  font-weight: normal;
}

.varimit-popup-output-close {
  width: 40px;
  height: 50px;
  text-align: center;
  position: absolute;
  top: 38px;
  right: 19px;
  cursor: pointer;
}

.varimit-popup-output-close svg {
  width: 20px;
  height: 20px;
}

.varimit-mini-list {
  display: flex;
  flex-direction: column;
}

.varimit-mini-list-img {
  border: 1px solid transparent;
  transition: all 0.3s ease;
  height: 110px;
  overflow: hidden;
  display: flex;
  justify-content: center;
  align-items: center;
  margin-bottom: 9px;
}

.varimit-mini-list-img img#mimi_url_list {
  height: 100%;
  width: auto;
  margin: 0;
}

.varimit-mini-list-title {
  font-size: 14px;
  line-height: 19px;
  color: #000000;
}

.range-revamp-btn .range-revamp-svg-icon,
.range-revamp-btn__label {
  -webkit-transition-property: opacity, margin-right, margin-left,
    -webkit-transform;
  transition-property: opacity, margin-right, margin-left, -webkit-transform;
  -o-transition-property: opacity, margin-right, margin-left, transform;
  transition-property: opacity, margin-right, margin-left, transform;
  transition-property: opacity, margin-right, margin-left, transform,
    -webkit-transform;
  -webkit-transition-duration: 0.2s;
  -o-transition-duration: 0.2s;
  transition-duration: 0.2s;
  -webkit-transition-timing-function: cubic-bezier(0.4, 0, 0.4, 1);
  -o-transition-timing-function: cubic-bezier(0.4, 0, 0.4, 1);
  transition-timing-function: cubic-bezier(0.4, 0, 0.4, 1);
}

.varimit-admin-output-block {
  width: 100%;
  height: 100px;
  border: 1px solid red;
}

.varimit-output span {
  border: 1px solid red;
  width: 30px;
  height: 30px;
  -webkit-border-radius: 15px;
  -moz-border-radius: 15px;
  border-radius: 15px;
  float: right;
  margin-right: 22px;
  margin-top: -4px;
  padding-top: 3px;
  padding-right: 8px;
}

.product .varimit-output span {
  display: inline;
  border: 0;
  margin: 0;
  padding: 0;
  height: auto;
}

.varimit-output p {
  padding-right: 15px;
  margin-left: 50px;
}

/* Левый боковой попап*/

.varimit-left-output {
  width: 100%;
  height: 100%;
  position: fixed;
  top: 0;
  background-color: #fff;
  display: none;
  left: -100%;
  z-index: 99999999;
}

.varimit_left_mini_content {
  width: 100%;
  height: auto;
  margin-top: 40px;
  z-index: 99999999;
}

.varimit_left_mini_content_img {
  width: 100%;
  height: 100px;
}

#mimi_url_list {
  width: 100%;
  height: 100%;
  margin-bottom: 5px;
}

#mimi_url_list_left {
  width: 100%;
  height: 110px;
  margin-bottom: 5px;
}

.varimit_left_inner p {
  text-align: center;
  color: #92bf2b;
}

/* адаптация для вариации*/

@media (max-width: 767px) {
  /* стили для xs-устройств */
  .varimit-popup-output {
    display: none;
  }
  .varimit-output-single-product-inner-right {
    right: -7px;
  }
  .varimit-output-single-product-inner-left {
    padding-left: 0;
  }
  .varimit-left-output {
    padding: 40px 13px 13px;
  }
  .varimit-popup-output-title {
    font-size: 18px;
    line-height: 25px;
    margin-bottom: 24px;
  }
  .varimit-popup-output-close {
    top: 18px;
    right: 1px;
  }

  .varimit_left_mini_content {
    margin-top: 0;
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
  }

  .varimit_left_inner {
    width: calc(50% - 8px);
    display: flex;
    flex-direction: column;
    margin-bottom: 12px;
  }

  .varimit_left_inner:hover .varimit_left_img-wrap,
  .varimit_left_inner:active .varimit_left_img-wrap {
    border: 1px solid #92bf2b;
  }

  .varimit_left_inner p {
    text-align: left;
    color: #000;
  }

  .varimit_left_img-wrap {
    display: flex;
    justify-content: center;
    align-items: center;
    max-width: 140px;
    height: 93px;
    margin-bottom: 12px;
    border: 1px solid transparent;
  }
  .varimit_left_img-wrap #mimi_url_list_left {
    width: auto;
    height: 100%;
    margin-bottom: 0;
  }
}
@media (min-width: 768px) and (max-width: 991px) {
  /* стили для sm-устройств */
}
@media (min-width: 991px) and (max-width: 1199px) {
  /* стили для md-устройств */
}
@media (min-width: 1200px) {
  /* стили для lg-устройств */
  .varimit-popup-output {
    width: 100vw;
    height: 100vh;
    position: fixed;
    top: 0;
    right: 0;
    background-color: rgba(0, 0, 0, 0.3);
  }
  .varimit-popup-output-wrapper {
    width: 440px;
    height: 100%;
    position: absolute;
    right: 0;
    top: 0;
    background-color: #fff;
    z-index: 9999999;
    padding: 80px 40px 40px;
  }
}
