/*
*  The styles for a plugin Variation Imitation for Woocommerce
* (admin)
*
*  Author: Nemolite
*/

.varimit-admin-output-block {
  width: 500%;
  height: auto;
  border: 1px solid #ddd;
}

.varimit-admin-output-block p {
  color: #2271b1;
  margin-left: 29px;
}

.varimit-admin-output-block-left {
  width: 21.2%;
  height: auto;
  float: left;
}

.varimit-admin-output-block-right {
  width: 70%;
  height: auto;
  float: left;
}

.varimit-form-field input[type="text"] {
  border-style: solid;
  border-width: 1px;
  width: 50%;
}

.varimit-form-check {
  padding-left: 0px;
}

#varimit-iden-num {
  margin-left: 0px;
  color: #3c434a;
}

.varimit-table-inner {
  width: 100%;
  height: auto;
}

.varimit-table-inner-title {
  width: 30%;
  height: auto;
  float: left;
}

.varimit-table-inner-content {
  width: 69%;
  height: auto;
  float: left;
  padding-top: 20px;
}

#varimit-table-inner-title-txt {
  margin-left: 0px;
  color: #3c434a;
}

.varimit-table-inner-content-table {
  width: 100%;
  border: 1px solid grey;
}

.varimit-table-inner-content-title {
  border: 1px solid grey;
}

.varimit-table-inner-content-txt {
  border: 1px solid grey;
  text-align: center;
}

.varimit-values {
  width: 100%;
  height: 200px;
}

.varimit-values-head {
  width: 100%;
  height: 36px;
  border: 1px solid #c3c4c7;
}

.varimit-values-content {
  width: 100%;
  height: auto;
  border: 1px solid #c3c4c7;
  clear: both;
}

.varimit-values-content-item {
  width: 100%;
  height: 50px;
  border: 1px solid #c3c4c7;
}

.varimit-values-head-name,
.varimit-values-head-slug,
.varimit-values-head-img {
  width: 30%;
  height: 36px;
  float: left;
}

.varimit-values-head-txt {
  margin-top: 10px;
  margin-left: 10px;
  margin-bottom: 0px;
}

.varimit-values-content-item-name,
.varimit-values-content-item-slug,
.varimit-values-content-item-img {
  width: 30%;
  height: 50px;
  float: left;
}

.varimit-values-content-item-img {
  width: 50px;
  height: 48px;
}

.varimit-values-content-item-img img {
  width: 90%;
  height: 90%;
  margin-top: 3px;
  margin-left: 20px;
}

.row-actions-values {
  font-size: 13px;
  margin-left: 10px;
  position: relative;
  color: #fff;
}

.row-actions-values:hover {
  color: #dcdcde;
  font-size: 13px;
  margin-left: 10px;
  position: relative;
}

.emptySpace {
  border: medium dotted #c3c4c7;
  height: 50px;
  margin: 4px;
}
