.varimit-output {
  width: 100%;
  height: auto;
}

.varimit-output p {
  color: red;
}

.varimit-output-single-product {
  width: 70%;
  height: auto;
}

.varimit-output-single-product p {
  color: red;
}

.varimit-output-single-product-inner {
  width: 100%;
  height: 50px;
  border-top: 1px solid #dfdfdf;
}

.varimit-output-single-product-inner-left {
  width: 70%;
  height: 50px;
  float: left;
  padding-left: 20px;
  cursor: pointer;
}

.varimit-output-single-product-inner-right {
  width: 29%;
  height: 50px;
  float: left;
  padding-top: 10px;
}

.range-revamp-svg-icon {
  display: inline-block;
  height: 1.5rem;
  width: 1.5rem;
  vertical-align: middle;
  fill: currentColor;
  -webkit-transition-property: fill, -webkit-transform;
  transition-property: fill, -webkit-transform;
  -o-transition-property: transform, fill;
  transition-property: transform, fill;
  transition-property: transform, fill, -webkit-transform;
  -webkit-transition-duration: 0.25s;
  -o-transition-duration: 0.25s;
  transition-duration: 0.25s;
  -webkit-transition-timing-function: cubic-bezier(0.4, 0, 0.4, 1);
  -o-transition-timing-function: cubic-bezier(0.4, 0, 0.4, 1);
  transition-timing-function: cubic-bezier(0.4, 0, 0.4, 1);
}

.varimit-popup-output {
  width: 300px;
  height: auto;
  position: absolute;
  background-color: #dfdfdf;
  margin-left: 340px;
}

.varimit-popup-output-title {
  width: 80%;
  height: 50px;
  padding-left: 5px;
  padding-top: 10px;
  float: left;
}

.varimit-popup-output-close {
  width: 20%;
  height: 50px;
  padding-left: 5px;
  padding-top: 10px;
  float: left;
  cursor: pointer;
}

.varimit-mini-list {
  width: 100%;
  height: 70px;
}

.varimit-mini-list-img {
  width: 30%;
  height: 70px;
  float: left;
  padding: 5px;
}

.varimit-mini-list-title {
  width: 69%;
  height: 70px;
  float: left;
  padding-left: 5px;
  padding-right: 5px;
}

.range-revamp-btn .range-revamp-svg-icon,
.range-revamp-btn__label {
  -webkit-transition-property: opacity, margin-right, margin-left,
    -webkit-transform;
  transition-property: opacity, margin-right, margin-left, -webkit-transform;
  -o-transition-property: opacity, margin-right, margin-left, transform;
  transition-property: opacity, margin-right, margin-left, transform;
  transition-property: opacity, margin-right, margin-left, transform,
    -webkit-transform;
  -webkit-transition-duration: 0.2s;
  -o-transition-duration: 0.2s;
  transition-duration: 0.2s;
  -webkit-transition-timing-function: cubic-bezier(0.4, 0, 0.4, 1);
  -o-transition-timing-function: cubic-bezier(0.4, 0, 0.4, 1);
  transition-timing-function: cubic-bezier(0.4, 0, 0.4, 1);
}

.varimit-popup-output {
  display: none;
}
